.custom-checkbox {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 10px;
}
.custom-checkbox input {
  width: 20px;
  padding: 0px 0px;
}
.custom-checkbox label {
  margin: 0 10px;
}
.spinner {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
